.fce-sait {
    width: 100%;
    .header {
        vertical-align: baseline;
        width: 90%;
        margin: 0 auto;
        .title {
            width: 150px;
            height: 150px;
            color: #791009;
        }
        .navbar-nav {
            text-align: center;
            a {
                margin-left: 50px;
                text-decoration: none;
                color: black;
                font-size: 25px;
            }
        
            .active {
                color: #791009;
            }
        }
    }

    .home-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        .general-info {
            width: 70%;
            margin-right: 50px;
        }
        .articles-list {
            width: 30%;
            .title {
                text-align: center;
            }
        }
    }
}



.loader {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px #f60 solid;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: 1s infinite rotation linear;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
