body {
    margin: 0;
    padding: 0;
}
.fce-sait {
    width: 100%;
    margin: 0;
    padding: 0;
    .header {
        vertical-align: baseline;
        background-color: #351A56;
        display: flex;
        justify-content: space-around;
        color: #E3FE45;

        .title a{
            color: #E3FE45;
            text-decoration: none;
        }
        .navbar-nav {
            text-align: right;
            display: flex;
            align-items: center;
            a {
                margin-left: 50px;
                text-decoration: none;
                font-size: 20px;
                color: #E3FE45;
            }
        
            .active {
                color: white;
            }
        }
    }

    .home-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        .general-info {
            width: 70%;
            margin-right: 50px;
        }
        .articles-list {
            width: 30%;
            .title {
                text-align: center;
            }
        }
    }
}



.loader {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px #f60 solid;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: 1s infinite rotation linear;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.articles-block {
    .block {
        width: 400px;
        padding: 10px;
        border: 1px solid black;
    }
    a {
        color: blue
    }
}

.container {
    margin-left: 30px;
}

.general-info {
    line-height: 25px;
}

.margin-top {
    margin-top: 15px;
}

.articles-block {
    display: flex;
    div {
        margin-right: 100px;
    }
    ul {
        margin: 30px;
    }
}

.chapter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    .chapter {
        border: 1px solid black;
        border-bottom: none;
        flex: 1 1 auto;
        margin: 15px 15px;
        width: 400px;
        height: fit-content;
    }
}

.general-info {
    ul {
        margin-left: 50px;
        margin-bottom: 20px;
    }
}

.materials-block {
    ul {
        margin-left: 30px;
    }

    a {
        color: blue
    }
}